@model DapperDemo.Models.Category

    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>Category Details</h1>

            </div>
            <div class="col-3">
<a asp-action="Index" asp-controller="Categories" class="btn btn-warning">Back to Categories</a>
            </div>
        </div>
        <hr />

        <div class="row p-1">
            <div class="col-3">
                Name
            </div>
            <div class="col-9">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-3">
                Address
            </div>
            <div class="col-9">
                <input asp-for="Description" class="form-control" />
            </div>
        </div>
    </div>
<hr />
<div class="container pt-2">
    <div class="row py-2">
        <h3>Book Details</h3>
    </div>
    <div class="row">
        @if (Model.Books.Count() > 0)
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Publisher)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Books)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="Books" asp-route-id="@item.BookId" class="btn btn-info">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <p>No book exists...</p>
        }
    </div>
</div>