@model IEnumerable<DapperDemo.Models.Category>

<h1>Category Management</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-info">Edit</a>
                <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-success">Details</a>
                <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a asp-action="Index" asp-controller="Books" asp-route-categoryId="@item.CategoryId" class="btn btn-primary">Manage Books</a>
            </td>
        </tr>
}
    </tbody>
</table>
